@import '../../styles.scss';

.mat-typography {
    text-align: center;
    font-size: 32px;

    p {
        padding: 5px 30px;
        line-height: 38px;
    }
}

mat-dialog-actions {
    button {
        padding: 10px 5px;
    }
}

.confirm-btn {
    background-color: #FFC23B;
}