<div class="container infinite-results"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()"
     [scrollWindow]="false">    
    <app-album-header [title]='"Foto albumi familije " + lastName'></app-album-header>
    <div class="row">
        <div class="mb-5" 
             [ngClass]="{'col-sm-6 col-md-4 col-12': layout === layouts.GridLayout, 'col-12': layout === layouts.ListLayout}" 
             *ngFor="let album of albums">
            <app-album-details [album]="album"></app-album-details>
        </div>
    </div>
</div>