@import '../../styles.scss';

.search {
    color: #000000;
    font-size: 36px;
    position: relative;
    left: 30px;
    bottom: 2px;
}


input {
    font-size: 30px;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 35px;
    padding-bottom: 10px;
    width: 290px;
}

input:focus, input:active {
    outline: none;
}

::placeholder {
    color: #C7C7C7;
}

div {
    position: relative;
    right: 18px;
}

/* mobile size*/
@media screen and (max-width: 330px) {
    input {
        width: 240px;
    }
  }