.back-link {
    margin-top: 10px;
    cursor: pointer;
}

span {
    position: relative;
    bottom: 7px;
    left: 5px;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
}