<div class="row">
    <div class="image-container" [ngClass]="{'col-12': layout === layouts.GridLayout, 'col-md-4 col-sm-6 col-12': layout === layouts.ListLayout}" >
        <img (click)="openAlbum()" class="thumbnail" [src]="albumThumbnail.thumbnailUrl" />
    </div>
    <div class="album-title-container" [ngClass]="{'col-12': layout === layouts.GridLayout, 'col-md-4 col-sm-6 col-12': layout === layouts.ListLayout}">
        <h3 class="album-title" (click)="openAlbum()">{{album.title}}</h3>
        <div>Kreirao: AlbumCreatedBy</div>
    </div>
</div>